
.store{
  font-size: 70px;
  font-weight: bold;
}

.c-grid{
  display: grid;
  grid-gap:3px;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: 150px auto 80px;
  grid-template-areas: 
    "l l l t t t"
    "c c c g g g"
    "c c c a a a"
    "c c c a a a";
  width: 100vw;
  height: 100vh;
  font-family: Garamond, serif;
}

.featured_title{
  background-color:#99738E;
  text-align: center;
  grid-area: t;
  color: white;
}

.getfeature{
  text-align: center;
  grid-area: g;
}

.categor_title{
  background-color:#2F2FA2;
  text-align: center;
  grid-area: l;
  color: white;
}

.categories{
  text-align: center;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
  grid-area: c;
}

.addPost{
  background-color: #99738E;
  grid-area: a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: larger;
}

/* INNER CATEGORY GRID */
.inner-grid{
  display:grid;
  grid: subgrid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 150px); 
  font-family: Garamond, serif;
}

.pets{
  border-radius: 25px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.vehicles{
  border-radius: 25px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );  font-size: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech{
  border-radius: 25px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );  font-size: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hItems{
  border-radius: 25px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );  font-size: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wanted{
  border-radius: 25px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );  font-size: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Featured Table */
.featured{
    width: 100px;
    border-collapse: collapse;
    text-align: center;
}

/* Borders */
.featured td, .featured th{
    border: 1px solid #ddd;
    padding: 8px;
}


.featured tr:hover {background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%)};


.featured th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  font-weight: bold;
  color: aliceblue;
}